<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SearchEngines</key>
	<array>
		<dict>
			<key>DuckDuckGo</key>
			<dict>
				<key>search_chinese_name</key>
				<string>DuckDuckGo</string>
				<key>search_icon</key>
				<string>duckduckgo</string>
				<key>search_url</key>
				<string>https://duckduckgo.com/?q=%@</string>
				<key>homepage_url</key>
				<string>https://duckduckgo.com</string>
				<key>autocomplete_url</key>
				<string>https://www.duckduckgo.com/ac/?type=list&amp;q=%@</string>
			</dict>
		</dict>
		<dict>
			<key>Google</key>
			<dict>
				<key>search_chinese_name</key>
				<string>Google</string>
				<key>search_icon</key>
				<string>google</string>
				<key>search_url</key>
				<string>https://www.google.com/search?q=%@</string>
				<key>homepage_url</key>
				<string>https://www.google.com/</string>
				<key>autocomplete_url</key>
				<string>https://www.google.com/complete/search?client=firefox&amp;q=%@</string>
			</dict>
		</dict>
		<dict>
			<key>Baidu</key>
			<dict>
				<key>search_chinese_name</key>
				<string>Baidu</string>
				<key>search_icon</key>
				<string>baidu</string>
				<key>search_url</key>
				<string>https://m.baidu.com/s?word=%@</string>
				<key>homepage_url</key>
				<string>https://www.baidu.com/</string>
				<key>autocomplete_url</key>
				<string>https://m.baidu.com/su?action=opensearch&amp;ie=UTF-8&amp;wd=%@</string>
			</dict>
		</dict>
		<dict>
			<key>Bing</key>
			<dict>
				<key>search_chinese_name</key>
				<string>Bing</string>
				<key>search_icon</key>
				<string>Bing</string>
				<key>search_url</key>
				<string>https://www.bing.com/search?q=%@</string>
				<key>homepage_url</key>
				<string>https://www.bing.com</string>
				<key>autocomplete_url</key>
				<string>https://cn.bing.com/osjson.aspx?query=%@&amp;language=zh_CN</string>
			</dict>
		</dict>
		<dict>
			<key>360</key>
			<dict>
				<key>search_chinese_name</key>
				<string>360</string>
				<key>search_icon</key>
				<string>360</string>
				<key>search_url</key>
				<string>https://m.so.com/s?ie=utf-8&amp;q=%@</string>
				<key>homepage_url</key>
				<string>https://www.so.com/</string>
				<key>autocomplete_url</key>
				<string>https://m.so.com/s?ie=utf-8&amp;q=%@</string>
			</dict>
		</dict>
		<dict>
			<key>Toutiao</key>
			<dict>
				<key>search_chinese_name</key>
				<string>Toutiao</string>
				<key>search_icon</key>
				<string>bytedance</string>
				<key>search_url</key>
				<string>https://so.toutiao.com/search?source=input&amp;keyword=%@</string>
				<key>homepage_url</key>
				<string>https://www.toutiao.com/</string>
				<key>autocomplete_url</key>
				<string>https://so.toutiao.com/search?source=input&amp;keyword=%@</string>
			</dict>
		</dict>
		<dict>
			<key>Douyin</key>
			<dict>
				<key>search_chinese_name</key>
				<string>Tiktok</string>
				<key>search_icon</key>
				<string>douyin</string>
				<key>search_url</key>
				<string>https://so.toutiao.com/search?keyword=%@</string>
				<key>homepage_url</key>
				<string>https://www.toutiao.com/</string>
				<key>autocomplete_url</key>
				<string>https://so.toutiao.com/search?keyword=%@</string>
			</dict>
		</dict>
	</array>
	<key>SearchApps</key>
	<array>
		<dict>
			<key>Youtube</key>
			<dict>
				<key>search_chinese_name</key>
				<string>Youtube</string>
				<key>search_icon</key>
				<string>youtube</string>
				<key>search_url</key>
				<string>https://www.youtube.com/results?search_query=%@</string>
				<key>homepage_url</key>
				<string>https://www.youtube.com/</string>
				<key>autocomplete_url</key>
				<string>https://www.youtube.com/results?search_query=%@</string>
			</dict>
		</dict>
		<dict>
			<key>Twitter</key>
			<dict>
				<key>search_chinese_name</key>
				<string>Twitter</string>
				<key>search_icon</key>
				<string>Twitter</string>
				<key>search_url</key>
				<string>https://twitter.com/search?q=%@</string>
				<key>homepage_url</key>
				<string>https://twitter.com/</string>
				<key>autocomplete_url</key>
				<string>https://twitter.com/search?q=%@</string>
			</dict>
		</dict>
		<dict>
			<key>Reddit</key>
			<dict>
				<key>search_chinese_name</key>
				<string>Reddit</string>
				<key>search_icon</key>
				<string>reddit</string>
				<key>search_url</key>
				<string>https://www.reddit.com/search/?q=%@</string>
				<key>homepage_url</key>
				<string>https://www.reddit.com/</string>
				<key>autocomplete_url</key>
				<string>https://www.reddit.com/search/?q=%@</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
